body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/